.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 900px;
  min-width: 350px;
  border: 2px solid aliceblue;
  border-radius: 20px;
  color:aliceblue
}
