.Toastify__toast-container {
  top: 80px !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a !important;
  position: relative;
}
