.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 380px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.card {
  background-color: #1e1e1e !important;
  border: 1px solid aliceblue !important;
  border-radius: 12px !important;
  color: #f1f1f1 !important;
  overflow: hidden !important;
}

.card-img-top{
  object-fit: cover;
  border-bottom: 3px solid #333;
  background-color: #333;
}
