.sweetCardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sweetListContainer{
    margin-top: 75px;
    margin-right: 50px;
}

.createSweetContainer{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1000;
}